.artistInfoSection {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  color: whitesmoke;
}
.artistStatus {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  font-size: 3vh;
  list-style: none;
}
.artistAlbumsSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
