.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loginButton {
  background: grey;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
