.searchForm {
  display: flex !important;
  justify-content: flex-end;
}
.searchedResultGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.searchedItem {
  height: 70px;
  width: 70px;
  padding: 2px;
  transition: all ease-in-out 0.2s;
  border-radius: 5px 50px 50px;
}
.searchedItem:hover {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 5px;
}
@media (max-width: 550px) {
  .searchedResultGrid {
    grid-template-columns: 1fr;
  }
}
